@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    display: flex;
   
    width: 100%;
    background-color: #1a1a1a;
    margin:0;

}

.calculator-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
  
}


.header {
    width: 100%;
    height: 1px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: black;
    margin-bottom: 0px ;
    vertical-align: center;
}
.calculator {
 padding: 10px;
 border-radius: 16px;
 height: 400px;
 width: 400px;
 margin: 0 auto;
 background-color: #D0F0C0;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-screen {
 font-family: 'Orbitron', sans-serif;
 background-color: #dcdbe1;
/* border-color: black;
 border-style: solid;
 border-width: 0.5px; */
 border: solid black 0.5px;
 color: black;
 border-radius: 5px;
 width: 100%;
 height: 65%;
 margin-top: 20px;
}

.button {
 font-family: 'Orbitron', sans-serif;
 background-color: seagreen;
 color: white;
 /* border-color: black;
 border-style: solid;
 border-width: 0.5px; */
 border: solid black 0.5px;
 width: 100%;
 border-radius: 5px;
 height: 75%;
 outline: none;
cursor: pointer;
margin-top: 20px;
}


.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}

.special-button {
    background-color: #123534;
 }